<div class="modal-header">
    <h3 class="modal-title">DIRECCION</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-3 control-label" for="tarea">Tipo Direccion</label>
        <div class="col-lg-6">
            <select ng-disabled="!{{items.editable}}" class="form-control" ng-model="items.registro.tdrid" ng-options="tipos as tipos.tdrdescripcion for tipos in tiposDireccion">
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="tarea">Paroquia</label>
        <div class="col-lg-6">
            <select ng-disabled="!{{items.editable}}" class="form-control" ng-model="items.registro.parid" ng-options="parroquia as parroquia.pardescripcion for parroquia in parroquias">
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="tarea">Sector</label>
        <div class="col-lg-6">
            <input ng-disabled="!{{items.editable}}" type="text" class="form-control" ng-model="items.registro.dirsector">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="tarea">Calle Principal</label>
        <div class="col-lg-6">
            <input ng-disabled="!{{items.editable}}" type="text" class="form-control" ng-model="items.registro.dircalleprincipal">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="tarea">Calle secundaria</label>
        <div class="col-lg-6">
            <input ng-disabled="!{{items.editable}}" type="text" class="form-control" ng-model="items.registro.dircallesecundaria">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="tarea">Numero</label>
        <div class="col-lg-6">
            <input ng-disabled="!{{items.editable}}" type="text" class="form-control" ng-model="items.registro.dirnumero">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="tarea">Referencial</label>
        <div class="col-lg-6">
            <input ng-disabled="!{{items.editable}}" type="text" class="form-control" ng-model="items.registro.dirreferencial">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="tarea">Comunidad</label>
        <div class="col-lg-6">
            <input ng-disabled="!{{items.editable}}" type="text" class="form-control" ng-model="items.registro.dircomunidad">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="tarea">Direccion principal</label>
        <div class="col-lg-6">
            <input ng-disabled="!{{items.editable}}" type="radio" ng-model="items.registro.dirprincipal" value="P"> SI
            <input ng-disabled="!{{items.editable}}" type="radio" ng-model="items.registro.dirprincipal" value="S"> NO
        </div>
    </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
