<div class="modal-header">
    <h3 class="modal-title">DIRECCION</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-3 control-label" for="tarea">Tipo Direccion</label>
        <div class="col-lg-6">
            <input ng-disabled="!{{items.editable}}" type="hidden" ui-select2-sortable style="width: 80%" allow-clear='true' data-placeholder="Seleccione tipo direccion" ng-model="items.registro.tdrid" simple-query="getTipoDirecciones">
            <button class="btn btn-square btn-sm btn-info pull-right glyphicon glyphicon-plus" ng-click="agregarNuevo('tipodireccion')"></button>
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="col-lg-3 control-label" for="tarea">Provincia</label>
        <div class="col-lg-6">
            <input type="hidden" ui-select2-sortable style="width: 80%" allow-clear='true' data-placeholder="Seleccione provincia" ng-model="items.canton" simple-query="getProvincias">
        </div>
    </div> -->
    <div class="form-group">
        <label class="col-lg-3 control-label" for="tarea">Ubicacion</label>
        <div class="col-lg-8">
            <input type="hidden" ui-select2-sortable style="width: 100%" allow-clear='true' data-placeholder="provincia/canton/parroquia" ng-model="items.registro.parid" simple-query="getParroquias">
            <!-- <button class="btn btn-square btn-sm btn-info pull-right glyphicon glyphicon-plus" ng-click="agregarNuevo('parroquia')"></button> -->
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="tarea">Sector</label>
        <div class="col-lg-6">
            <input ng-disabled="!{{items.editable}}" type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="items.registro.dirsector">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="tarea">Calle Principal</label>
        <div class="col-lg-6">
            <input ng-disabled="!{{items.editable}}" type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="items.registro.dircalleprincipal">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="tarea">Calle secundaria</label>
        <div class="col-lg-6">
            <input ng-disabled="!{{items.editable}}" type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="items.registro.dircallesecundaria">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="tarea">Numero</label>
        <div class="col-lg-6">
            <input ng-disabled="!{{items.editable}}" type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="items.registro.dirnumero">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="tarea">Referencial</label>
        <div class="col-lg-6">
            <input ng-disabled="!{{items.editable}}" type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="items.registro.dirreferencial">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="tarea">Comunidad</label>
        <div class="col-lg-6">
            <input ng-disabled="!{{items.editable}}" type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="items.registro.dircomunidad">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="tarea">Direccion principal</label>
        <div class="col-lg-6">
            <input ng-disabled="!{{items.editable}}" type="radio" ng-model="items.registro.dirprincipal" value="P"> SI
            <input ng-disabled="!{{items.editable}}" type="radio" ng-model="items.registro.dirprincipal" value="S"> NO
        </div>
    </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
