<div class="modal-header">
    <h3 class="modal-title">TELEFONO</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-3 control-label" for="tarea">Tipo</label>
        <div class="col-lg-6">
            <!-- <select ng-disabled="!{{items.editable}}" class="col-sm-6 col-xs-12 objeto-sm" ng-model="items.registro.tptid" ng-options="tipo as tipo.tptdescripcion for tipo in tipos">
            </select> -->
            <input ng-disabled="!{{items.editable}}" type="hidden" ui-select2-sortable style="width: 80%" allow-clear='true' data-placeholder="Seleccione tipo telefono" ng-model="items.registro.tptid" simple-query="getTiposTelefono">
            <button class="btn btn-square btn-sm btn-info pull-right glyphicon glyphicon-plus" ng-click="agregarNuevo('tipotelefono')"></button>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="tarea">Numero</label>
        <div class="col-lg-6">
            <input ng-disabled="!{{items.editable}}" type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="items.registro.tlfnumero">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="tarea">Extensión</label>
        <div class="col-lg-6">
            <input ng-disabled="!{{items.editable}}" type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="items.registro.tlfextencion">
        </div>
    </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
