<div class="centrado">
<div class="panel panel-primary">
     <div class="panel-heading">
          <h4 class="modal-title">{{titulo}}{{pantalla}}</h4>
     </div>

     <div class="panel-body">
          <div class="alert alert-danger alert-dismissable" ng-show="items.isError">
            <strong>Error!</strong> {{items.mensajeError}}.
          </div>
          <form class="form-horizontal">
              <div class="form-group">
                  <label class="col-lg-3 control-label" for="tarea">Nombre Organizacion</label>
                  <div class="col-lg-6">
                      <input ng-disabled="!editable" type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="objeto.orgnombre" ng-blur="validarRepetidos(objeto)">
                      <span class="col-sm-6 text-error" ng-if="error">{{textoError}}</span>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-lg-3 control-label" for="tarea">Año</label>
                  <div class="col-lg-6">
                      <input ng-disabled="!editable" type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="objeto.organio">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-lg-3 control-label" for="tarea">Fecha Registro SEP</label>
                  <div class="col-lg-6">
                      <input ng-disabled="!editable" type="text" class="col-sm-6 col-xs-12 objeto-sm datepicker" ng-model="objeto.orgfecharegistrosep">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-lg-3 control-label" for="tarea">Fecha Acreditacion MAGAP</label>
                  <div class="col-lg-6">
                      <input ng-disabled="!editable" type="text" class="col-sm-6 col-xs-12 objeto-sm datepicker" ng-model="objeto.orgfechaacreditacionmagap">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-lg-3 control-label" for="tarea">Total Productores</label>
                  <div class="col-lg-6">
                      <input ng-disabled="!editable" type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="objeto.orgtotalreal">
                  </div>
              </div>
          </form>
     </div>
     <div class="modal-footer">
          <!-- <button ng-show="editable" class="btn btn-square btn-sm btn-primary" ng-click="guardar(objeto)">Guardar</button> -->
          <button class="btn btn-square btn-sm btn-warning pull-right margen-left" ng-click="cancelar()">Cancelar</button>
          <button class="btn btn-square btn-sm btn-info pull-right margen-left" ng-click="guardar(objeto, 'A')">Datos adicionales</button>
          <button class="btn btn-square btn-sm btn-primary pull-right margen-left" ng-click="guardar(objeto, 'G')">Guardar</button>
     </div>
</div>
</div>
