<div class="centrado">
<div class="panel panel-primary">
     <div class="panel-heading">
          <h4 class="modal-title">{{titulo}}{{pantalla}}</h4>
     </div>

     <div class="panel-body">
          <div class="alert alert-danger alert-dismissable" ng-show="items.isError">
            <strong>Error!</strong> {{items.mensajeError}}.
          </div>
          <form class="form-horizontal">
              <div class="form-group">
                   <label class="col-lg-3 control-label" for="tarea">Tipo Cialco</label>
                   <div class="col-lg-6">
                       <input ng-disabled="!editable" type="hidden" ui-select2-sortable style="width: 80%" allow-clear='true' data-placeholder="Seleccione tipo" ng-model="objeto.tcoid" simple-query="getTiposCialcos">
                       <!-- <button class="btn btn-square btn-sm btn-info pull-right glyphicon glyphicon-plus" ng-click="agregarNuevo('tipocialco')"></button> -->
                   </div>
              </div>
              <div class="form-group">
                  <label class="col-lg-3 control-label" for="tarea">Nombre</label>
                  <div class="col-lg-6">
                      <input ng-disabled="!editable" type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="objeto.ciadescripcion" ng-blur="validarRepetidos(objeto)">
                      <span class="col-sm-6 text-error" ng-if="error">{{textoError}}</span>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-lg-3 control-label" for="tarea">Observacion</label>
                  <div class="col-lg-6">
                      <textarea class="col-sm-6 col-xs-12 objeto-sm" width="100%" ng-model="objeto.ciaobservacion"></textarea>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-lg-3 control-label" for="tarea">Aporte Cialco</label>
                  <div class="col-lg-6">
                      <input ng-disabled="!editable" type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="objeto.ciaaportecialco">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-lg-3 control-label" for="tarea">Sistema de Registro</label>
                  <div class="col-lg-2">
                      <input ng-disabled="!editable" type="radio" ng-model="objeto.ciasistemaregistro" value="S"> SI
                      <input ng-disabled="!editable" type="radio" ng-model="objeto.ciasistemaregistro" value="N"> NO
                  </div>
                  <label class="col-lg-3 control-label" for="tarea">Reglamento</label>
                  <div class="col-lg-2">
                      <input ng-disabled="!editable" type="radio" ng-model="objeto.ciareglamento" value="S"> SI
                      <input ng-disabled="!editable" type="radio" ng-model="objeto.ciareglamento" value="N"> NO
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-lg-3 control-label" for="tarea">Garantia</label>
                  <div class="col-lg-2">
                      <input ng-disabled="!editable" type="radio" ng-model="objeto.ciagarantia" value="S"> SI
                      <input ng-disabled="!editable" type="radio" ng-model="objeto.ciagarantia" value="N"> NO
                  </div>
                  <label class="col-lg-3 control-label" for="tarea">Entrega dispersa</label>
                  <div class="col-lg-2">
                      <input ng-disabled="!editable" type="radio" ng-model="objeto.ciaentregadispersa" value="S"> SI
                      <input ng-disabled="!editable" type="radio" ng-model="objeto.ciaentregadispersa" value="N"> NO
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-lg-3 control-label" for="tarea">Entrega concentrada</label>
                  <div class="col-lg-2">
                      <input ng-disabled="!editable" type="radio" ng-model="objeto.ciaentregaconcentrada" value="S"> SI
                      <input ng-disabled="!editable" type="radio" ng-model="objeto.ciaentregaconcentrada" value="N"> NO
                  </div>
                  <label  ng-if="objeto.tcoid.tcoid == 5" class="col-lg-3 control-label" for="tarea">Certificacion</label>
                  <div  ng-if="objeto.tcoid.tcoid == 5" class="col-lg-2">
                      <input ng-disabled="!editable" type="radio" ng-model="objeto.ciacertificacion" value="S"> SI
                      <input ng-disabled="!editable" type="radio" ng-model="objeto.ciacertificacion" value="N"> NO
                  </div>
              </div>
              <div class="form-group" ng-if="objeto.tcoid.tcoid == 5">
                  <label class="col-lg-3 control-label" for="tarea">Venta local</label>
                  <div class="col-lg-6">
                      <input ng-disabled="!editable" type="radio" ng-model="objeto.ciavantalocal" value="S"> SI
                      <input ng-disabled="!editable" type="radio" ng-model="objeto.ciavantalocal" value="N"> NO
                  </div>
              </div>
              <div class="form-group" ng-if="objeto.tcoid.tcoid == 4">
                  <label class="col-lg-3 control-label" for="tarea">Direccion Entrega Concentrada</label>
                  <div class="col-lg-6">
                      <input ng-disabled="!editable" type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="objeto.ciadireccionconcentrada">
                  </div>
              </div>
              <div class="form-group" ng-if="objeto.tcoid.tcoid == 4">
                  <label class="col-lg-3 control-label" for="tarea">Costo de Canasta</label>
                  <div class="col-lg-6">
                      <input ng-disabled="!editable" type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="objeto.ciacostocanasta">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-lg-3 control-label" for="tarea">Destino</label>
                  <div class="col-lg-6">
                      <input ng-disabled="!editable" type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="objeto.ciadestino">
                  </div>
              </div>
              <div class="form-group" ng-if="objeto.tcoid.tcoid == 4">
                  <label class="col-lg-3 control-label" for="tarea">Tipo entrega</label>
                  <div class="col-lg-6">
                      <input ng-disabled="!editable" type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="objeto.ciatipoapoyo">
                  </div>
              </div>
              <div class="form-group">
                   <label class="col-lg-3 control-label" for="tarea">Proceso Contratacion</label>
                   <div class="col-lg-6">
                       <!-- <select ng-disabled="!editable" class="col-sm-6 col-xs-12 objeto-sm" ng-model="objeto.ptaid" ng-options="procesoContratacion as procesoContratacion.ptadescripcion for procesoContratacion in procesosContratacion">
                       </select> -->
                       <input type="hidden" ui-select2-sortable style="width: 80%" allow-clear='true' data-placeholder="Seleccione proceso contratacion" ng-model="objeto.ptaid" simple-query="getProcesosContratacion">
                       <button class="btn btn-square btn-sm btn-info pull-right glyphicon glyphicon-plus" ng-click="agregarNuevo('procesocontratacion')"></button>
                   </div>
              </div>
              <div class="form-group">
                   <label class="col-lg-3 control-label" for="tarea">Frecuencia</label>
                   <div class="col-lg-6">
                       <!-- <select ng-disabled="!editable" class="col-sm-6 col-xs-12 objeto-sm" ng-model="objeto.freid" ng-options="frecuencia as frecuencia.fredescripcion for frecuencia in frecuencias">
                       </select> -->
                       <input type="hidden" ui-select2-sortable style="width: 80%" allow-clear='true' data-placeholder="Seleccione frecuencia" ng-model="objeto.freid" simple-query="getFrecuencia">
                       <button class="btn btn-square btn-sm btn-info pull-right glyphicon glyphicon-plus" ng-click="agregarNuevo('frecuencia')"></button>
                   </div>
              </div>
              <div class="modal-footer">
                   <button class="btn btn-square btn-sm btn-warning pull-right margen-left" ng-click="cancelar()">Cancelar</button>
                   <button class="btn btn-square btn-sm btn-info pull-right margen-left" ng-click="guardar(objeto, 'A')">Datos adicionales</button>
                   <button class="btn btn-square btn-sm btn-primary pull-right margen-left" ng-click="guardar(objeto, 'G')">Guardar</button>
              </div>
          </form>
     </div>
</div>
</div>
