<div class="centrado">
<div class="panel panel-primary">
     <div class="panel-heading">
          <h4 class="modal-title">{{titulo}} usuario por perfil</h4>
     </div>

     <div class="panel-body">
          <div class="alert alert-danger alert-dismissable" ng-show="items.isError">
            <strong>Error!</strong> {{items.mensajeError}}.
          </div>
          <form class="form-horizontal">
              <div class="form-group">
                   <label class="col-lg-3 control-label" for="tarea">Perfil</label>
                   <div class="col-lg-6">
                       <!-- <select ng-disabled="!{{editable}}" class="col-sm-6 col-xs-12 objeto-sm" ng-model="objeto.perid" ng-options="perfil as perfil.perdescripcion for perfil in perfiles">
                       </select> -->
                       <input type="hidden" ui-select2-sortable style="width: 80%" allow-clear='true' data-placeholder="Seleccione perfil" ng-model="objeto.perid" simple-query="getPerfiles">
                       <button class="btn btn-square btn-sm btn-info pull-right glyphicon glyphicon-plus" ng-click="agregarNuevo('perfil')"></button>
                   </div>
              </div>
              <div class="form-group">
                   <label class="col-lg-3 control-label" for="tarea">Usuario</label>
                   <div class="col-lg-6">
                       <!-- <select ng-disabled="!{{editable}}" class="col-sm-6 col-xs-12 objeto-sm" ng-model="objeto.usrid" ng-options="usuario as usuario.usrusuario for usuario in usuarios">
                       </select> -->
                       <input type="hidden" ui-select2-sortable style="width: 80%" allow-clear='true' data-placeholder="Seleccione usuario" ng-model="objeto.usrid" simple-query="getUsuarios">
                       <button class="btn btn-square btn-sm btn-info pull-right glyphicon glyphicon-plus" ng-click="agregarNuevo('usuario')"></button>
                   </div>
              </div>
              <div class="form-group">
                   <label class="col-lg-3 control-label" for="tarea">Fecha caducidad</label>
                   <div class="col-lg-6">
                       <input ng-disabled="!{{editable}}" type="text" class="col-sm-6 col-xs-12 objeto-sm datepicker" ng-model="objeto.upefechacaducidad">
                   </div>
              </div>
          </form>
     </div>
     <div class="modal-footer">
          <button ng-show="editable" class="btn btn-square btn-sm btn-primary" ng-click="guardar(objeto)">Guardar</button>
          <button class="btn btn-square btn-sm btn-warning" ng-click="cancelar()">Cancelar</button>
     </div>
</div>
</div>
