<div class="centrado">
<div class="panel panel-primary">
     <div class="panel-heading">
          <h4 class="modal-title">{{titulo}} menu</h4>
     </div>

     <div class="panel-body">
          <div class="alert alert-danger alert-dismissable" ng-show="items.isError">
            <strong>Error!</strong> {{items.mensajeError}}.
          </div>
          <form class="form-horizontal">
              <div class="form-group">
                   <label class="col-lg-3 control-label" for="tarea">Descripcion</label>
                   <div class="col-lg-6">
                       <input ng-disabled="!editable" type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="objeto.mendescripcion" ng-blur="validarRepetidos(objeto)">
                       <span class="col-sm-6 text-error" ng-if="error">{{textoError}}</span>
                   </div>
              </div>
              <div ng-if="objeto.usrtipoidentificacion != 'ruc'" class="form-group">
                   <label class="col-lg-3 control-label" for="tarea">Menu padre</label>
                   <div class="col-lg-6">
                       <!-- <select ng-disabled="!editable" class="col-sm-6 col-xs-12 objeto-sm" ng-model="objeto.menpadre" ng-options="menuPadre.menid as menuPadre.mendescripcion for menuPadre in menusPadre">
                       </select> -->
                       <input ng-disabled="!editable"type="hidden" ui-select2-sortable style="width: 80%" allow-clear='true' data-placeholder="Seleccione menu padre" ng-model="objeto.menpadre" simple-query="getMenus">
                   </div>
              </div>
              <div ng-if="objeto.usrtipoidentificacion != 'ruc'" class="form-group">
                   <label class="col-lg-3 control-label" for="tarea">Pantalla url</label>
                   <div class="col-lg-6">
                       <!-- <select ng-disabled="!editable" class="col-sm-6 col-xs-12 objeto-sm" ng-model="objeto.panid" ng-options="pantalla as pantalla.panurl for pantalla in pantallas">
                       </select> -->
                       <input ng-disabled="!editable" type="hidden" ui-select2-sortable style="width: 80%" allow-clear='true' data-placeholder="Seleccione pantalla" ng-model="objeto.panid" simple-query="getPantallas">
                       <button class="btn btn-square btn-sm btn-info pull-right glyphicon glyphicon-plus" ng-click="agregarNuevo('pantalla')"></button>
                   </div>
              </div>
          </form>
     </div>
     <div class="modal-footer">
          <button ng-show="editable" class="btn btn-square btn-sm btn-primary" ng-click="guardar(objeto)">Guardar</button>
          <button class="btn btn-square btn-sm btn-warning" ng-click="cancelar()">Cancelar</button>
     </div>
</div>
</div>
