<div class="centrado">
<div class="panel panel-primary">
     <div class="panel-heading">
          <h4 class="modal-title">{{titulo}} perfil</h4>
     </div>

     <div class="panel-body">
          <div class="alert alert-danger alert-dismissable" ng-show="items.isError">
            <strong>Error!</strong> {{items.mensajeError}}.
          </div>
          <form class="form-horizontal">
              <div class="form-group">
                   <label class="col-lg-3 control-label" for="tarea">Descripcion</label>
                   <div class="col-lg-6">
                       <input ng-disabled="!{{editable}}" type="text" class="col-sm-8 col-xs-12 objeto-sm" ng-model="objeto.perdescripcion">
                   </div>
              </div>
              <div class="form-group">
                   <label class="col-lg-3 control-label" for="tarea">Perfil padre</label>
                   <div class="col-lg-6">
                       <!-- <select ng-disabled="!{{editable}}" class="col-sm-6 col-xs-12 objeto-sm" ng-model="objeto.perpadre" ng-options="perfilPadre.perid as perfilPadre.perdescripcion for perfilPadre in perfilesPadre">
                       </select> -->
                       <input type="hidden" ui-select2-sortable style="width: 80%" allow-clear='true' data-placeholder="Seleccione perfil padre" ng-model="objeto.perpadre" simple-query="getPerfiles">
                       <!-- <button class="btn btn-square btn-sm btn-info pull-right glyphicon glyphicon-plus" ng-click="agregarNuevo('usuario')"></button> -->
                   </div>
              </div>
              <div class="form-group">
                  <label class="col-lg-3 control-label" for="tarea">Crear</label>
                  <div class="col-lg-6">
                      <input ng-disabled="!{{editable}}" type="radio" ng-model="objeto.percrear" value="1"> SI
                      <input ng-disabled="!{{editable}}" type="radio" ng-model="objeto.percrear" value="0"> NO
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-lg-3 control-label" for="tarea">Editar</label>
                  <div class="col-lg-6">
                      <input ng-disabled="!{{editable}}" type="radio" ng-model="objeto.pereditar" value="1"> SI
                      <input ng-disabled="!{{editable}}" type="radio" ng-model="objeto.pereditar" value="0"> NO
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-lg-3 control-label" for="tarea">Consultar</label>
                  <div class="col-lg-6">
                      <input ng-disabled="!{{editable}}" type="radio" ng-model="objeto.perconsultar" value="1"> SI
                      <input ng-disabled="!{{editable}}" type="radio" ng-model="objeto.perconsultar" value="0"> NO
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-lg-3 control-label" for="tarea">Eliminar</label>
                  <div class="col-lg-6">
                      <input ng-disabled="!{{editable}}" type="radio" ng-model="objeto.pereliminar" value="1"> SI
                      <input ng-disabled="!{{editable}}" type="radio" ng-model="objeto.pereliminar" value="0"> NO
                  </div>
              </div>
          </form>
     </div>
     <div class="modal-footer">
          <button ng-show="editable" class="btn btn-square btn-sm btn-primary" ng-click="guardar(objeto)">Guardar</button>
          <button class="btn btn-square btn-sm btn-warning" ng-click="cancelar()">Cancelar</button>
     </div>
</div>
</div>
