<div class="centrado">
<div class="panel panel-primary">
     <div class="panel-heading">
          <h4 class="modal-title">{{titulo}} usuario por perfil</h4>
     </div>

     <div class="panel-body">
          <div class="alert alert-danger alert-dismissable" ng-show="items.isError">
            <strong>Error!</strong> {{items.mensajeError}}.
          </div>
          <form class="form-horizontal">
              <div class="form-group">
                   <label class="col-lg-3 control-label" for="tarea">Perfil</label>
                   <div class="col-lg-6">
                       <select ng-disabled="!{{editable}}" class="form-control" ng-model="objeto.perid" ng-options="perfil as perfil.perdescripcion for perfil in perfiles">
                       </select>
                   </div>
              </div>
              <div class="form-group">
                   <label class="col-lg-3 control-label" for="tarea">Usuario</label>
                   <div class="col-lg-6">
                       <select ng-disabled="!{{editable}}" class="form-control" ng-model="objeto.usrid" ng-options="usuario as usuario.usrusuario for usuario in usuarios">
                       </select>
                   </div>
              </div>
              <div class="form-group">
                   <label class="col-lg-3 control-label" for="tarea">Fecha caducidad</label>
                   <div class="col-lg-6">
                       <input ng-disabled="!{{editable}}" type="date" class="form-control" ng-model="objeto.upefechacaducidad">
                   </div>
              </div>              
          </form>
     </div>
     <div class="modal-footer">
          <button ng-show="editable" class="btn btn-square btn-sm btn-primary" ng-click="guardar(objeto)">Guardar</button>
          <button class="btn btn-square btn-sm btn-warning" ng-click="cancelar()">Cancelar</button>
     </div>
</div>
</div>
