<div class="centrado">
<div class="panel panel-primary">
     <div class="panel-heading">
          <h4 class="modal-title">{{titulo}}{{pantalla}}</h4>
     </div>

     <div class="panel-body">
          <div class="alert alert-danger alert-dismissable" ng-show="items.isError">
            <strong>Error!</strong> {{items.mensajeError}}.
          </div>
          <form class="form-horizontal">
              <div class="form-group">
                  <label class="col-lg-3 control-label" for="tarea">Cialco</label>
                  <div class="col-lg-6">
                      <select ng-disabled="!{{editable}}" class="col-sm-6 col-xs-12 objeto-sm" ng-model="objeto.ciaid" ng-options="cialco.ciaid as cialco.tpudescripcion for cialco in cialcos">
                      </select>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-lg-3 control-label" for="tarea">Nombre</label>
                  <div class="col-lg-6">
                      <input ng-disabled="!{{editable}}" type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="objeto.comnombre">
                  </div>
              </div>
              <div class="form-group">
                   <label class="col-lg-3 control-label" for="tarea">Observacion</label>
                   <div class="col-lg-3">
                       <input ng-disabled="!{{editable}}" type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="objeto.comobservacion">
                   </div>
              </div>
              <div class="panel">
                  <div class="panel-heading">
                      <h5 class="modal-title">Frecuencias</h5>
                  </div>
                  <div class="panel-body col-xs-12 col-md-12">
                      <div class="row">
                          <div class="col-lg-12">
                              <button class="btn btn-sm btn-primary btn-square"  ng-click="agregarFila('frecuencia')">Agregar</button>
                          </div>
                          <div class="col-lg-12">
                              <hr/>
                          </div>
                          <div class="col-lg-12 margen-fila" ng-repeat="frecuencia in frecuencias">
                              <div class="col-lg-2">
                                  <input ng-disabled="!{{editable}}" placeholder="Descripcion" type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="frecuencia.fredescripcion">
                              </div>
                              <div class="col-lg-2">
                                  <input ng-disabled="!{{editable}}" placeholder="Fecha inicio" type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="frecuencia.frefechainicio">
                              </div>
                              <div class="col-lg-2">
                                  <input ng-disabled="!{{editable}}" placeholder="Fecha fin" type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="frecuencia.frefechafin">
                              </div>
                              <div class="col-lg-2">
                                  <input ng-disabled="!{{editable}}" placeholder="Hora inicio" type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="frecuencia.horainicio">
                              </div>
                              <div class="col-lg-2">
                                  <input ng-disabled="!{{editable}}" placeholder="Hora fin" type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="frecuencia.horafin">
                              </div>
                              <div class="col-lg-3">
                                  <button popover="Eliminar" popover-trigger="mouseenter" class="btn btn-sm btn-danger btn-square glyphicon glyphicon-remove" ng-click="eliminarFila('frecuencia', frecuencia)"></button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <hr/>
              <div class="panel">
                  <div class="panel-heading">
                      <h5 class="modal-title">Productos</h5>
                  </div>
                  <div class="panel-body col-xs-12 col-md-12">
                      <div class="row">
                          <div class="col-lg-12">
                              <button class="btn btn-sm btn-primary btn-square"  ng-click="agregarFila('producto')">Agregar</button>
                          </div>
                          <div class="col-lg-12">
                              <hr/>
                          </div>
                          <div class="col-lg-12 margen-fila" ng-repeat="producto in productos">
                              <div class="col-lg-3">
                                  <select ng-disabled="!{{editable}}" class="col-sm-6 col-xs-12 objeto-sm" ng-model="producto.movid" ng-options="movilizacion.movid as movilizacion.movdescripcion for tipo in movilizaciones">
                                      <option value="">Movilizacion</option>
                                  </select>
                              </div>
                              <div class="col-lg-3">
                                  <select ng-disabled="!{{editable}}" class="col-sm-6 col-xs-12 objeto-sm" ng-model="producto.prodid" ng-options="tipo.prodid as tipo.prodnombreproducto for tipo in listaProductos">
                                      <option value="">Tipo</option>
                                  </select>
                              </div>
                              <div class="col-lg-2">
                                  <input ng-disabled="!{{editable}}" placeholder="Importancia" type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="producto.cprimportancia">
                              </div>
                              <div class="col-lg-3">
                                  <button popover="Eliminar" popover-trigger="mouseenter" class="btn btn-sm btn-danger btn-square glyphicon glyphicon-remove" ng-click="eliminarFila('producto', producto)"></button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
     </div>
     <div class="modal-footer">
          <button ng-show="editable" class="btn btn-square btn-sm btn-primary" ng-click="guardar(objeto)">Guardar</button>
          <button class="btn btn-square btn-sm btn-warning" ng-click="cancelar()">Cancelar</button>
     </div>
</div>
</div>
