<div class="container">
<div class="col-xs-12 col-sm-3">
  <form class="form-signin" role="form" novalidate>
    <h2 class="form-signin-heading">Ingresar</h2>
    <input type="text" class="form-control col-xs-12 col-sm-3" placeholder="Usuario" required autofocus ng-model="usuario.usuario">
    <input type="password" class="form-control col-xs-12 col-sm-3" placeholder="Clave" ng-model="usuario.clave">
    <button class="btn btn-sm btn-primary btn-block" type="submit" ng-click="iniciarSesion()">Iniciar sesion</button>
  </form>
</div>
</div> <!-- /container -->
