<div class="centrado">
<div class="panel panel-primary">
     <div class="panel-heading">
          <h4 class="modal-title">CONTACTANOS</h4>
     </div>

     <div class="panel-body">
          <div class="row">
              <h5 class="col-xs-12">Tu puedes ser parte del cambio, llena tus datos y dejanos saber tus dudas, comentarios y/o sugerencias</h5><br><br>
          </div>
          <form name="myForm" class="form-horizontal">
              <div class="form-group">
                  <label class="col-lg-3 control-label" for="tarea">Nombre</label>
                  <div class="col-lg-6">
                      <input type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="objeto.visnombre">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-lg-3 control-label" for="tarea">Apellido</label>
                  <div class="col-lg-6">
                      <input type="text" class="col-sm-6 col-xs-12 objeto-sm" ng-model="objeto.visapellido">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-lg-3 control-label" for="tarea">Correo Electronico</label>
                  <div class="col-lg-6">
                      <input type="email" name="correo" class="col-sm-6 col-xs-12 objeto-sm minusculas" ng-model="objeto.viscorreo" ng-blur="validarEmail(objeto)">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-lg-3 control-label" for="tarea">Comentario</label>
                  <div class="col-lg-6">
                      <textarea name="Name" class="col-sm-8 col-xs-12" rows="3" cols="40" ng-model="objeto.viscomentario"></textarea>
                  </div>
              </div>
          </form>
     </div>
     <div class="modal-footer">
          <button class="btn btn-square btn-sm btn-primary pull-right margen-left" ng-click="guardar(objeto)">Enviar</button>
          <button class="btn btn-square btn-sm btn-warning margen-left" ng-click="cancelar()">Cancelar</button>
     </div>
</div>
</div>
