<div class="centrado">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="modal-title">{{titulo}}{{pantalla}}</h4>
  </div>
  <div class="panel-body">
    <div class="alert alert-danger alert-dismissable" ng-show="items.isError">
      <strong>Error!</strong> {{items.mensajeError}}.
    </div>
    <div class="col-xs-12">
      <button class="btn btn-square btn-sm btn-success pull-right" ng-click="irUsuario()">Guardar</button>
    </div>
    <form class="form-horizontal">
      <div class="panel-body centrado">
        <div class="col-xs-12 col-md-12">
          <div class="col-xs-12 col-md-12">
            <div class="row btn-primary margen-fila">
              <div class="col-xs-12">
                <div class="col-xs-9">
                  <h5 class="modal-title"><strong>EMAILS</strong></h5>
                </div>
                <div class="col-xs-3">
                  <button class="btn btn-square btn-sm btn-info glyphicon glyphicon-plus  pull-right" ng-click="open('mail', '')"></button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 table-responsive">
                <table ng-table="tablaEmails" class="table table-striped table-bordered">
                  <tr ng-repeat="mail in $data | filter:searchText">
                    <div class="input-group col-md-3 pull-right" >
                      <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                      <input class="col-sm-12 col-xs-12 objeto-sm" type="text" ng-model="searchText" placeholder="Buscar..."/>
                    </div>
                    <td data-title="'Tipo Mail'" width="45%" sortable="'tipo_mail'">{{mail.tpmid.tpmdescripcion}}</td>
                    <td data-title="'Email'" width="45%" sortable="'email'">{{mail.maidireccion}}</td>
                    <td data-title="''" width="20%">
                      <button popover="Editar" popover-trigger="mouseenter" class="btn btn-xs btn-success btn-square glyphicon glyphicon-pencil" ng-click="open('mail', mail)" ng-show="perfilUsuario.pereditar || acceso.acceditar"></button>
                    </td>
                    <td data-title="''" width="20%">
                      <button popover="Eliminar" popover-trigger="mouseenter" class="btn btn-xs btn-danger btn-square glyphicon glyphicon-remove" ng-click="eliminarLista(mail, 'mail', 'mai', tablaEmails)" ng-show="perfilUsuario.pereliminar || acceso.acceliminar"></button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-12">
            <div class="row btn-primary margen-fila">
              <div class="col-xs-12">
                <div class="col-xs-9">
                  <h5 class="modal-title"><strong>TELEFONOS</strong></h5>
                </div>
                <div class="col-xs-3">
                  <button class="btn btn-square btn-sm btn-info glyphicon glyphicon-plus  pull-right" ng-click="open('telefono', '')"></button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 table-responsive">
                <table ng-table="tablaTelefonos" class="table table-striped table-bordered">
                  <tr ng-repeat="telfono in $data| filter:searchText">
                    <div class="input-group col-md-3 pull-right" >
                      <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                      <input class="col-sm-12 col-xs-12 objeto-sm" type="text" ng-model="searchText" placeholder="Buscar..."/>
                    </div>
                    <td data-title="'Tipo Telefono'" width="30%" sortable="'tipo_telefono'">{{telfono.tptid.tptdescripcion}}</td>
                    <td data-title="'Numero'" width="30%" sortable="'numero'">{{telfono.tlfnumero}}</td>
                    <td data-title="'Extension'" width="20%" sortable="'extension'">{{telfono.tlfextension}}</td>
                    <td data-title="''" width="10%">
                      <button popover="Editar" popover-trigger="mouseenter" class="btn btn-xs btn-success btn-square glyphicon glyphicon-pencil" ng-click="open('telefono', telefono)" ng-show="perfilUsuario.pereditar || acceso.acceditar"></button>
                    </td>
                    <td data-title="''" width="20%">
                      <button popover="Eliminar" popover-trigger="mouseenter" class="btn btn-xs btn-danger btn-square glyphicon glyphicon-remove" ng-click="eliminarLista(telefono, 'telefono', 'tlf', tablaTelefonos)" ng-show="perfilUsuario.pereliminar || acceso.acceliminar"></button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-12">
            <div class="row btn-primary margen-fila">
              <div class="col-xs-12">
                <div class="col-xs-9">
                  <h5 class="modal-title"><strong>DIRECCIONES</strong></h5>
                </div>
                <div class="col-xs-3">
                  <button class="btn btn-square btn-sm btn-info glyphicon glyphicon-plus pull-right" ng-click="open('direccion', '')"></button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 table-responsive">
                <table ng-table="tablaDirecciones" class="table table-striped table-bordered">
                  <tr ng-repeat="direccion in $data| filter:searchText">
                    <div class="input-group col-md-3 pull-right" >
                      <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                      <input class="col-sm-12 col-xs-12 objeto-sm" type="text" ng-model="searchText" placeholder="Buscar..."/>
                    </div>
                    <td data-title="'Tipo Direccion'" width="45%" sortable="'tipo_direccion'">{{direccion.tdrid.tdrdescripcion}}</td>
                    <td data-title="'Direccion'" width="45%" sortable="'direccion'">{{direccion.dircalleprincipal}} y {{direccion.dircallesecundaria}}</td>
                    <td data-title="''" width="20%">
                      <button popover="Editar" popover-trigger="mouseenter" class="btn btn-xs btn-success btn-square glyphicon glyphicon-pencil" ng-click="open('direccion', direccion)" ng-show="perfilUsuario.pereditar || acceso.acceditar"></button>
                    </td>
                    <td data-title="''" width="20%">
                      <button popover="Eliminar" popover-trigger="mouseenter" class="btn btn-xs btn-danger btn-square glyphicon glyphicon-remove" ng-click="eliminarLista(direccion, 'direccion', 'dir', tablaDirecciones)" ng-show="perfilUsuario.pereliminar || acceso.acceliminar"></button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div ng-if="objeto.tpuid.tpuid == 2" class="col-xs-12 col-md-12">
            <div class="row btn-primary margen-fila">
              <div class="col-xs-12">
                <div class="col-xs-9">
                  <h5 class="modal-title"><strong>PRACTICAS</strong></h5>
                </div>
                <div class="col-xs-3">
                  <button class="btn btn-square btn-sm btn-info glyphicon glyphicon-plus pull-right" ng-click="open('practica', '')"></button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 table-responsive">
                <table ng-table="tablaPracticas" class="table table-striped table-bordered">
                  <tr ng-repeat="practica in $data| filter:searchText">
                    <div class="input-group col-md-3 pull-right" >
                      <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                      <input class="col-sm-12 col-xs-12 objeto-sm" type="text" ng-model="searchText" placeholder="Buscar..."/>
                    </div>
                    <td data-title="'Descripcion'" width="30%" sortable="'descripcion'">{{practica.pprid.pprdescripcion}}</td>
                    <td data-title="'Organico'" width="30%" sortable="'organico'">{{practica.ppucerorganico}}</td>
                    <td data-title="'SPG'" width="30%" sortable="'spg'">{{practica.ppucerspg}}</td>
                    <td data-title="''" width="20%">
                      <button popover="Editar" popover-trigger="mouseenter" class="btn btn-xs btn-success btn-square glyphicon glyphicon-pencil" ng-click="open('practica', practica)" ng-show="perfilUsuario.pereditar || acceso.acceditar"></button>
                    </td>
                    <td data-title="''" width="20%">
                      <button popover="Eliminar" popover-trigger="mouseenter" class="btn btn-xs btn-danger btn-square glyphicon glyphicon-remove" ng-click="eliminarLista(practica, 'practica', 'ppu', tablaPracticas)" ng-show="perfilUsuario.pereliminar || acceso.acceliminar"></button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div ng-if="objeto.tpuid.tpuid == 2" class="col-xs-12 col-md-12">
            <div class="row btn-primary margen-fila">
              <div class="col-xs-12">
                <div class="col-xs-9">
                  <h5 class="modal-title"><strong>APOYOS</strong></h5>
                </div>
                <div class="col-xs-3">
                  <button class="btn btn-square btn-sm btn-info glyphicon glyphicon-plus pull-right" ng-click="open('apoyo', '')"></button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 table-responsive">
                <table ng-table="tablaApoyo" class="table table-striped table-bordered">
                  <tr ng-repeat="apoyo in $data| filter:searchText">
                    <div class="input-group col-md-3 pull-right" >
                      <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                      <input class="col-sm-12 col-xs-12 objeto-sm" type="text" ng-model="searchText" placeholder="Buscar..."/>
                    </div>
                    <td data-title="'Apoyo'" width="45%" sortable="'apoyo'">{{apoyo.apyid.apydescripcion}}</td>
                    <td data-title="'Descripcion'" width="45%" sortable="'Descripcion'">{{apoyo.uapdescripcion}}</td>
                    <td data-title="''" width="20%">
                      <button popover="Editar" popover-trigger="mouseenter" class="btn btn-xs btn-success btn-square glyphicon glyphicon-pencil" ng-click="open('apoyo', apoyo)" ng-show="perfilUsuario.pereditar || acceso.acceditar"></button>
                    </td>
                    <td data-title="''" width="20%">
                      <button popover="Eliminar" popover-trigger="mouseenter" class="btn btn-xs btn-danger btn-square glyphicon glyphicon-remove" ng-click="eliminarLista(apoyo, 'apoyo', 'uap', tablaApoyo)" ng-show="perfilUsuario.pereliminar || acceso.acceliminar"></button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div ng-if="objeto.tpuid.tpuid == 2" class="col-xs-12 col-md-12">
            <div class="row btn-primary margen-fila">
              <div class="col-xs-12">
                <div class="col-xs-9">
                  <h5 class="modal-title"><strong>DESTINOS</strong></h5>
                </div>
                <div class="col-xs-3">
                  <button class="btn btn-square btn-sm btn-info glyphicon glyphicon-plus pull-right" ng-click="open('destino', '')"></button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 table-responsive">
                <table ng-table="tablaDestino" class="table table-striped table-bordered">
                  <tr ng-repeat="destino in $data| filter:searchText">
                    <div class="input-group col-md-3 pull-right" >
                      <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                      <input class="col-sm-12 col-xs-12 objeto-sm" type="text" ng-model="searchText" placeholder="Buscar..."/>
                    </div>
                    <td data-title="'Descripcion'" width="45%" sortable="'descripcion'">{{destino.depdescripcion}}</td>
                    <td data-title="'Porcentaje'" width="45%" sortable="'porcentaje'">{{destino.depporcentaje}}</td>
                    <td data-title="''" width="20%">
                      <button popover="Editar" popover-trigger="mouseenter" class="btn btn-xs btn-success btn-square glyphicon glyphicon-pencil" ng-click="open('destino', destino)" ng-show="perfilUsuario.pereditar || acceso.acceditar"></button>
                    </td>
                    <td data-title="''" width="20%">
                      <button popover="Eliminar" popover-trigger="mouseenter" class="btn btn-xs btn-danger btn-square glyphicon glyphicon-remove" ng-click="eliminarLista(destino, 'destino', 'dep', tablaDestino)" ng-show="perfilUsuario.pereliminar || acceso.acceliminar"></button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div ng-if="objeto.tpuid.tpuid == 2" class="col-xs-12 col-md-12">
            <div class="row btn-primary margen-fila">
              <div class="col-xs-12">
                <div class="col-xs-9">
                  <h5 class="modal-title"><strong>FUENTES DE INGRESO</strong></h5>
                </div>
                <div class="col-xs-3">
                  <button class="btn btn-square btn-sm btn-info glyphicon glyphicon-plus pull-right" ng-click="open('fuente', '')"></button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 table-responsive">
                <table ng-table="tablaFuentes" class="table table-striped table-bordered">
                  <tr ng-repeat="fuente in $data| filter:searchText">
                    <div class="input-group col-md-3 pull-right" >
                      <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                      <input class="col-sm-12 col-xs-12 objeto-sm" type="text" ng-model="searchText" placeholder="Buscar..."/>
                    </div>
                    <td data-title="'Descripcion'" width="45%" sortable="'descripcion'">{{fuente.findescripcion}}</td>
                    <td data-title="''" width="20%">
                      <button popover="Editar" popover-trigger="mouseenter" class="btn btn-xs btn-success btn-square glyphicon glyphicon-pencil" ng-click="open('fuente', fuente)" ng-show="perfilUsuario.pereditar || acceso.acceditar"></button>
                    </td>
                    <td data-title="''" width="20%">
                      <button popover="Eliminar" popover-trigger="mouseenter" class="btn btn-xs btn-danger btn-square glyphicon glyphicon-remove" ng-click="eliminarLista(fuente, 'fuente', 'fin', tablaFuentes)" ng-show="perfilUsuario.pereliminar || acceso.acceliminar"></button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div ng-if="objeto.tpuid.tpuid == 2" class="col-xs-12 col-md-12">
            <div class="row btn-primary margen-fila">
              <div class="col-xs-12">
                <div class="col-xs-9">
                  <h5 class="modal-title"><strong>DESTINO INGRESOS</strong></h5>
                </div>
                <div class="col-xs-3">
                  <button class="btn btn-square btn-sm btn-info glyphicon glyphicon-plus pull-right" ng-click="open('ingreso', '')"></button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 table-responsive">
                <table ng-table="tablaIngresos" class="table table-striped table-bordered">
                  <tr ng-repeat="ingreso in $data| filter:searchText">
                    <div class="input-group col-md-3 pull-right" >
                      <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                      <input class="col-sm-12 col-xs-12 objeto-sm" type="text" ng-model="searchText" placeholder="Buscar..."/>
                    </div>
                    <td data-title="'Destino'" width="45%" sortable="'descripcion'">{{ingreso.deiid.deidescripcion}}</td>
                    <td data-title="''" width="20%">
                      <button popover="Editar" popover-trigger="mouseenter" class="btn btn-xs btn-success btn-square glyphicon glyphicon-pencil" ng-click="open('ingreso', ingreso)" ng-show="perfilUsuario.pereditar || acceso.acceditar"></button>
                    </td>
                    <td data-title="''" width="20%">
                      <button popover="Eliminar" popover-trigger="mouseenter" class="btn btn-xs btn-danger btn-square glyphicon glyphicon-remove" ng-click="eliminarLista(ingreso, 'ingreso', 'dei', tablaIngresos)" ng-show="perfilUsuario.pereliminar || acceso.acceliminar"></button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div ng-if="objeto.tpuid.tpuid == 2" class="col-xs-12 col-md-12">
            <div class="row btn-primary margen-fila">
              <div class="col-xs-12">
                <div class="col-xs-9">
                  <h5 class="modal-title"><strong>PRODUCTOS</strong></h5>
                </div>
                <div class="col-xs-3">
                  <button class="btn btn-square btn-sm btn-info glyphicon glyphicon-plus pull-right" ng-click="open('producto', '')"></button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 table-responsive">
                <table ng-table="tablaProductos" class="table table-striped table-bordered">
                  <tr ng-repeat="producto in $data| filter:searchText">
                    <div class="input-group col-md-3 pull-right" >
                      <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                      <input class="col-sm-12 col-xs-12 objeto-sm" type="text" ng-model="searchText" placeholder="Buscar..."/>
                    </div>
                    <td data-title="'Descripcion'" width="45%" sortable="'descripcion'">{{producto.prodid.prodnombreproducto}}</td>
                    <td data-title="''" width="20%">
                      <button popover="Editar" popover-trigger="mouseenter" class="btn btn-xs btn-success btn-square glyphicon glyphicon-pencil" ng-click="open('producto', producto)" ng-show="perfilUsuario.pereditar || acceso.acceditar"></button>
                    </td>
                    <td data-title="''" width="20%">
                      <button popover="Eliminar" popover-trigger="mouseenter" class="btn btn-xs btn-danger btn-square glyphicon glyphicon-remove" ng-click="eliminarLista(producto, 'producto', 'prod', tablaProductos)" ng-show="perfilUsuario.pereliminar || acceso.acceliminar"></button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
